################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/BangBangFuli.H5.API/v15
/Colipu.BasicData.API.Application/bin/Debug/netcoreapp2.2
/Colipu.BasicData.API.Application/obj/Debug/netcoreapp2.2
/Colipu.BasicData.API.Core/bin/Debug/netcoreapp2.2
/Colipu.BasicData.API.Core/obj/Debug/netcoreapp2.2
/Colipu.BasicData.API.EntityFrameworkCore/bin/Debug/netcoreapp2.2
/Colipu.BasicData.API.Extensions/bin/Debug/netcoreapp2.2
/Colipu.BasicData.API.Extensions/obj/Debug/netcoreapp2.2
/Colipu.BasicData.API.Test/bin/Debug/netcoreapp2.2
/Colipu.BasicData.API.WebApi/bin/Debug/netcoreapp2.2
/Colipu.BasicData.API.WebApi/obj/Debug/netcoreapp2.2
/BangBangFuli.Utils.ORM/bin/Debug/netcoreapp2.2
/BangBangFuli.Utils.ORM/obj/Debug/netcoreapp2.2
/BangBangFuli.Utils.ORM/obj
/BangBangFuli.Utils.ORM.Interface/bin/Debug/netcoreapp2.2
/BangBangFuli.Utils.ORM.Interface/obj/Debug/netcoreapp2.2
/BangBangFuli.Utils.ORM.Interface/obj
/.vs/Colipu.BasicData.API/DesignTimeBuild
/BangBangFuli.H5.API.Application/bin
/BangBangFuli.H5.API.Application/obj/Debug/netcoreapp2.2
/BangBangFuli.H5.API.Application/obj/Release/netcoreapp2.2
/BangBangFuli.H5.API.Application/obj
/BangBangFuli.H5.API.Core/bin
/BangBangFuli.H5.API.Core/obj
/BangBangFuli.H5.API.EntityFrameworkCore/bin
/BangBangFuli.H5.API.EntityFrameworkCore/obj/Debug/netcoreapp2.2
/BangBangFuli.H5.API.EntityFrameworkCore/obj/Release/netcoreapp2.2
/BangBangFuli.H5.API.EntityFrameworkCore/obj
/BangBangFuli.H5.API.Extensions/bin
/BangBangFuli.H5.API.Extensions/obj/Debug/netcoreapp2.2
/BangBangFuli.H5.API.Extensions/obj
/BangBangFuli.H5.API.Test/bin/Debug/netcoreapp2.2
/BangBangFuli.H5.API.Test/obj/Debug/netcoreapp2.2
/BangBangFuli.H5.API.Test/obj/Release/netcoreapp2.2
/BangBangFuli.H5.API.Test/obj
/BangBangFuli.H5.API.WebApi/bin
/BangBangFuli.H5.API.WebApi/obj
/.vs/BangBangFuli.H5.API/v16
/BangBangFuli.API.MVC/bin/Debug/netcoreapp3.0
/BangBangFuli.API.MVC/obj/Debug/netcoreapp3.0/staticwebassets
